{
    "tabWidth": 4,
    "printWidth": 300,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "TrailingCooma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
}